body{
    background-image: url(/static/images/register/backgroundauthpage.jpg);
    background-size: cover; 
}
.template-body{
    min-height: 90vh;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    flex-direction: column;
    font-size: 1.5rem;
    border: 1px solid #2222281b;
    border-radius: 0.8rem;
    padding: 16px;
    margin: auto;
    margin-top: 10vh;
    background-color: #FFFFFF;
    /*background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.2);*/
}
.form-block{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-block p{
    font-size: 14px;
    text-align: center;
}
.form-label{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form-label img{
    height: 36px;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
}
.form-label h1{
    font-size: 30px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}
form input{
    height: 56px;
    font-size: 16px;
    margin-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    border: 0;
    border: 1px solid #2222281b;
    border-radius: 8px;
}

form label{
    font-size: 14px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
}
input:active{
    border-color: #0071e3;
}
input[type="submit"]{
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    width: 100%;
    background-color: #0071e3;
    color: #FFFFFF;
    font-weight: 600;
    height: 3.25rem;
    padding: 0.2rem 2rem 0.2rem 2rem;
    transition: opacity 0.3s;
    opacity: 1;
    border: 0;
}
input[type="submit"]:hover{
    opacity: 0.3;
    cursor: url('/static/images/icons/cursor-pointer.svg'), pointer;
}

.error-message{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    flex-direction: row;
    font-size: 1.5rem;
    border: 1px solid #2222281b;
    border-radius: 0.8rem;
    padding: 16px;
    margin: auto;
    margin-top: 16px;
    background-color: #ff3b30;
    color: #FFFFFF;
}
.error-message p{
    font-size: 16px;
}
.error-message svg{
    margin-right: 10px;
    aspect-ratio: 1 / 1;
    height: 36px;
    width: 36px;
}