{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block body %}
<link rel="stylesheet" href="/static/auth.css">

<form action="" method="get" class="form">
    <div class="form-label">
        <img src="/static/images/icons/image-placeholder.svg">
        <h1>Вход</h1>
    </div>
    <div class="form-block">
        <label for="email">Почта</label>
        <input type="email" name="email" id="email" required placeholder="example@gmail.com" />
    </div>
    <div class="form-block">
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" required placeholder="coolpassword" />
    </div>
    <div class="form-block">
        <input type="submit" value="Регистрация" />
    </div>
    <div class="form-block">
        <p>Нет аккаунта? <a href="/register">Регистрация</a></p>
    </div>
</form>
{% endblock %}